// ==========================================================================
// Variables
// ==========================================================================

// Break points - pixel sizes given assume a font size of 16px on the document root.
$bp-narrow : 40em;  // >640px
$bp-wide : 64em;    // >1024px
$columns : 16;      // Number of columns
